.About {
  ul {
    list-style-type: none;
    padding-left: 0;
  }

  a {
    color: black;
  }

  &-Main {
    width: 75%;
    transition: 0.4s;
    animation: fadeIn 0.5s;

    &-Title {
      text-align: center;
    }

    &-Content {
      margin: 1rem;
      background-color: #f0f0f0;
      border-radius: 10px;
      line-height: 1.5rem;
      padding: 1rem;
    }

    &-Repo {
      color: #adadad;
      margin-left: 1rem;
      text-align: center;
      a {
        color: #adadad;
      }
    }

    &-List {
      dd {
        margin-left: 0;
      }
    }
  }

  &-Aside {
    width: 25%;
    transition: 0.4s;
    position: fixed;
    right: -15px;
    padding-right: 15px;

    &-Title {
      margin-left: 1rem;
      animation: bounceInRight 0.5s;
    }

    &-Content {
      margin: 1rem;
      height: 60vh;
      overflow-y: auto;

      padding-right: 1rem;
      width: 94%;
      animation: fadeInUp 0.5s;

      &-Proj {
        background-color: #f0f0f0;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 0.5rem;
        border-radius: 15px;
        transition: 0.4s;
      }

      &-Proj:hover {
        background-color: #dfdfdf;
      }
    }
  }
}

@media screen and (max-width: 740px) {
  .About {
    ul {
      padding-left: 0;
    }

    overflow: hidden;

    &-Main {
      width: 100%;

      &-Content {
        margin: 0.5rem;
      }
    }

    &-Aside {
      width: 100%;
      position: static;
      animation: fadeIn 0.5s;

      &-Title {
        text-align: center;
        animation: none;
      }

      &-Content {
        margin: 0.5rem;
        height: auto;
        padding-right: 0;
        width: auto;
        animation: none;
      }
    }
  }
}
