@lineH-PC: 3rem;
@lineH-Mob: 2rem;

.Blog {
  margin: 0 4.5rem;
  pre {
    font-size: 1rem;

    code::selection,
    span::selection {
      background-color: #46899b;
    }
  }

  &-A {
    border-left: none;
  }

  &-A-Active {
    color: black !important;
    font-weight: 700;
    border-left: 0.25rem solid #61dafb;
  }

  &-Main {
    width: 70%;
    transition: 0.4s;

    &-Title {
      line-height: 2.5rem;
      margin-left: 1rem;
      margin-right: 1rem;
      font-size: 3rem;
      margin-top: 3rem;
    }

    &-Content {
      margin: 1rem;
      padding: 1rem;
      line-height: 1.5rem;
      border-radius: 10px;
      background: white;

      &-Edit {
        margin-top: 3rem;

        &-A {
          text-decoration: none;
          border-bottom-width: 1px;
          border-bottom-style: solid;
          border-color: #ececec;
          color: #6d6d6d;
          transition: all 0.2s ease;
          margin-top: 3rem;
        }
      }

      &-Edit {
        &-A:hover {
          color: #1a1a1a;
          border-color: #1a1a1a;
        }
      }
    }

    &-Footer {
      color: #cacaca;

      a {
        color: #cacaca;
      }
    }
  }

  &-Aside {
    background-color: #f7f7f7;
    border-left: 1px solid #ececec;

    a {
      color: #6d6d6d;
      padding-left: 10px;
      text-decoration: none;
    }

    a:hover {
      color: black;
    }

    i {
      font-size: 1rem;
    }

    ul {
      padding-left: 1rem;

      li {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    position: fixed;
    top: @lineH-PC;
    right: -1rem;

    width: 30%;
    height: calc(100% - @lineH-PC);

    z-index: 10;
    overflow-y: auto;

    &-Content {
      margin-top: 3rem;
      margin-bottom: 10rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      display: block;

      li {
        line-height: 2rem;
      }

      .Ul-Name {
        display: inline-block;
        transition: all 0.3s;
        padding: 0.2rem;
        user-select: none;
      }

      .Ul-Name:hover {
        outline: -webkit-focus-ring-color auto 1px;
      }

      .Tree-Li {
        a {
          user-select: none;
        }
      }
    }
  }

  &-Btn {
    display: none;
  }
}

@media screen and (max-width: 740px) {
  .Blog {
    overflow: hidden;
    margin: 0;

    pre {
      font-size: 0.9rem;
    }

    &-Main {
      width: 100%;

      &-Title {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        font-size: 2rem;
        margin-top: 2rem;
      }

      &-Content {
        margin: 0.5rem;
        padding: 0.5rem;
      }
    }

    &-Aside {
      display: none;
      background-color: white;

      top: @lineH-Mob;
      left: 0;

      width: 100%;
      height: calc(100% - @lineH-Mob);

      &-Content {
        margin-top: 1.5rem;
      }
    }

    &-Btn {
      display: block;
      position: fixed;
      text-align: center;
      right: 10%;
      bottom: 10%;
      width: 60px;
      height: 60px;
      line-height: 60px;
      background-color: #20232a;
      color: #61dafb;
      border-radius: 30px;
      cursor: pointer;
    }
  }
}
