.Home {
  ul {
    list-style-type: none;
    padding-left: 0;
  }

  &-Main {
    background-color: #282c34;
    height: 300px;

    text-align: center;
    padding-top: 100px;

    &-Title {
      color: #61dafb;
      font-size: 45px;
      letter-spacing: 0.01em;
    }

    &-Infor {
      color: #d5d5d7;
      line-height: 3rem;
    }
  }
}
