@keyframes opacityMove {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.ani-opacityMove {
  animation: opacityMove 0.5s ease;
}
