.Loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: opacity 1s ease;

  &-Block {
    width: 24px;
    height: 24px;
    background: #a2b4cf;
    border-radius: 100%;
    display: inline-block;
    animation: slide 1s infinite;
  }
  &-Block:nth-child(1) {
    animation-delay: 0.1s;
    background: #8695ac;
  }
  &-Block:nth-child(2) {
    animation-delay: 0.2s;
    background: #6e7a8d;
  }
  &-Block:nth-child(3) {
    animation-delay: 0.3s;
    background: #555e6d;
  }
  &-Block:nth-child(4) {
    animation-delay: 0.4s;
    background: #3e4550;
  }
  &-Block:nth-child(5) {
    animation-delay: 0.5s;
    background: #262a31;
  }

  .Message {
    margin-top: 1rem;
    padding: 0.5rem;
    text-align: center;
    border-radius: 1rem;
    font-size: 0.5rem;
    color: white;
    background-color: gray;

    * {
      color: white;
      background-color: gray;
    }
  }
}

@-moz-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
