.Acg {
  margin: 0 4.5rem;
  padding-top: 1rem;
  overflow: hidden;
  padding-bottom: 7rem;

  &.enter {
    margin: 0;
    padding: 0;
  }
  .list_wrap {
    padding: 0 24px;
    .category {
      margin: 0;
      padding: 0;
      list-style-type: none;
      &-item {
        overflow: hidden;
        &:nth-child(n + 2) {
          margin-top: 24px;
          border-top: 1px #72537a solid;
        }
      }
    }

    .list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      &-item {
        text-align: center;
        cursor: pointer;
        &:hover {
          .list-item-name {
            color: black;
          }
        }
        margin: 12px;

        &-logo {
          display: block;
          width: 70px;
          height: 70px;
          border-radius: 12px;
        }
        &-name {
          margin-top: 4px;
          color: #6d6d6d;
        }
      }
    }
  }
  .contain {
    .contain-layout {
      .contain-layout-content {
        height: calc(100vh - 2.5rem);
        display: block;
        margin: 0 auto;
      }
    }
  }
}
