html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@lineH-PC: 3rem;
@lineH-Mob: 2rem;

.header {
  position: fixed;
  top: 0;

  width: 100%;
  line-height: @lineH-PC;

  background-color: #20232a;

  display: flex;

  z-index: 999;

  a {
    text-align: center;
    text-decoration: none;
    user-select: none;
  }

  &-a {
    color: #d5d5d7;
    border-bottom: none;
  }

  &-a-active {
    color: #61dafb;
    border-bottom: 3px solid #61dafb;
  }

  &-start {
    color: #61dafb;
    font-weight: 700;
    margin-left: 70px;
    display: flex;
    margin-right: 0.5rem;
    align-items: center;
    border-bottom: 3px solid transparent;

    &-img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      vertical-align: middle;
    }

    &-img-pre {
      background-color: #343538;
    }

    &-name {
      margin-left: 0.5rem;
    }
  }

  &-start:focus {
    color: #d5d5d7;
  }

  &-links {
    flex-grow: 1;

    display: flex;
    a {
      width: 4rem;
    }

    a:hover {
      color: #61dafb;
    }

    a:focus {
      color: #ffffff;
      background-color: #373940;
    }
  }

  &-last {
    color: #d5d5d7;
    margin-right: 70px;
    width: 100px;
  }

  &-last:hover {
    color: #61dafb;
  }

  &-last:focus {
    color: #ffffff;
    background-color: #373940;
  }
}

.main {
  margin-top: calc(@lineH-PC - 2px);

  &-bg {
    background: url(/static/image/bg.webp);
    width: 100%;
    height: 100vh;
    position: fixed;
    opacity: 0.18;
    z-index: -999;
  }
}

footer {
  text-align: center;
  line-height: 100px;
}

@media screen and (max-width: 740px) {
  .header {
    line-height: @lineH-Mob;

    &-start {
      margin-left: 0.5rem;

      &-img {
        width: 1.5rem;
        height: 1.5rem;
      }

      &-name {
        display: none;
      }
    }

    &-a-active {
      color: #61dafb;
      border-bottom: none;
    }

    &-links {
      a {
        width: 3rem;
      }
    }

    &-last {
      display: none !important;
    }
  }

  .main {
    margin-top: calc(@lineH-Mob - 2px);
  }
}
